@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  text-align: center;
}
.card {
  height: 400px;
  width: 300px;
  margin-left: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.heart,
.diamond,
.spade,
.club {
}
